@{
    ViewBag.Title = "About GREENLAVA";
}
<h1>@ViewBag.Title.</h1>


<h4>GreenLava is an ASP.NET Web API designed to allow users to view, create, update and delete data for healthy drinks that can be available at home, work , or at restaurants. This project was chosen because of an interest in finding healthier and tasty beverage near users all time without over thinking the available healthy options that are available near the users.</h4>
