@{
    ViewBag.Title = "Contact Us";
    ViewBag.Message = "Headquaters Info";
}
<h1>@ViewBag.Title.</h1>
<h3>@ViewBag.Message</h3>

<address>
    2894 E 3rd St<br />
    Bloomington, IN 47401 <br />
    <abbr title="Phone">P:</abbr>
    800-464-7336/ 800.GoGreen
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@greenlava.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@greenlava.com">Marketing@example.com</a> <br />
    <strong>Franchise:</strong> <a href="mailto:Franchise@greenlava.com">Marketing@example.com</a>
</address>