@{
    ViewBag.Title = "Home Page";
}
<style>

    #HomePageBody {
        background-image: url('../../Images/pexels-wendy-wei-1656666.jpg');
        @* background-image: url('../../Content/Asset/how-to-make-a-green-smoothie-6.jpg');*@

        background-repeat: no-repeat;
        font-family: Verdana, Helvetica, Sans-Serif;
        margin: auto;
    }
</style>
<body id="HomePageBody">

    <div class="jumbotron">
        <h1>GreenLava Juice </h1>
        <p class="lead"> GreenLava Juice designed to allow users to view, create, update and delete data for healthy Juice that can be available at home, work , or at restaurants. This project was chosen because of an interest in finding healthier and tasty beverage near users all time without over thinking the available of healthy options that are available at home or at the restaurants.</p>
        <p>
            <a href="https://localhost:44382/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
            @* </li><button class="btn btn-success btn-lg pull-right visible-lg"> Large Layout</button> </li>*@
        </p>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <p></p>
                    

                    <img src="~/Images/depositphotos_53382101-stock-photo-healthy-green-smoothie-beverage-with.jpg" class="d-block w-100" alt="">
                </div>
                
            </div>
        </div>
    @* <div class="row">
                <div class="col-md-6">
                    <h2>How do I get my kids to drink GREEN juice?</h2>
                    <p>
                        Celery juice is amazing—it has so many health & wellness benefits. It has tons of vitamin C and K, calms inflammation, is highly detoxifying and hydrating, helps to balance your body’s pH and keep you in an alkaline state, and because of the high concentration of mineral salts in celery it helps support good neuron function—this is a huge pick me up for the brain! While you can incorporate other vegetable juices and fruit juices with it such as red apple, fresh pineapple, cucumber, kale leaf, and more, it is most powerful/effective when consumed alone and on an empty stomach. Here are my tips for getting to that point with your kids.
                    </p>
                    <p><a class="btn btn-primary" href="https://www.puregreen.com/">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Green Juice Benefits And 10 Reasons Why You Should Drink It Everyday</h2>
                    <p>
                        While I really do love my fruits and veggies, I know it isn’t realistic (for me personally) to get what I need simply by eating them every day! That why I love, love, LOVE juicing.

                        Green juice for me = more fruits, veggies, and nutrients into my body!
                    </p>
                    <p><a class="btn btn-primary" href="https://www.puregreen.com/">Learn more &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>GREEN JUICE RECIPE</h2>
                    <p>I just LOVE juice and smoothie recipes. While this is my favorite juice recipe, I absolutely love these other smoothie recipes: peanut butter and jelly smoothie bowls, cherry smoothie bowl, tropical green smoothie, blueberry muffin smoothie.</p>
                    <p><a class="btn btn-primary" href="https://www.puregreen.com/">Learn more &raquo;</a></p>
                </div>
            </div>*@


        <div class="row">
            <div class="col-md-12">
                <blockquote>
                    <p> Drinking freshly made juices and eating enough whole foods to provide adequate fiber is a sensible approach to a healthful diet.</p>
                    <footer>Jay Kordich</footer>
            </div>
         </div>
    


</div>

</body>